p {text-align: justify; text-justify: newspaper;}

#logo {
	float:left; 
	margin-right: 5%;
	width: 284px;
	margin-bottom: 20px;
}

#accueil, #home {
	padding: 43px 27px 11px;
}

.hero-unit {
	margin-bottom: 6px;
	min-height:300px;
}

.hero-unit h1 {
	font-size: 52px;
}

#sponsorlogos {
	/*float: right; */
	/*text-align:right;*/
}

#eventdate {
	margin-right: 10px;
}

ul.nav img {
	width: 30px;
}

#technoportlogo {
	width: 23%;
	margin-right: 2%;
}



#lilalogo {
	width: 18%;
	margin-right: 2%;
}

#rockhallogo {
	width: 15%;
	margin-right: 2%;
}

#blidalogo {
	width: 15%;
	margin-right: 2%;
}

#werk1logo {
	width: 25%;
}

#hack4kidslogo {
	width: 15%;
	margin-right: 2%;
}


#coinlogo { 
	width: 23%;
	margin-right: 2%;
}

#codeandweblogo {
	width: 25%;
	margin-left:2%;
	margin-bottom: 20px;
	background-color: black;
}


#postlogo { 
	width: 80%;
	margin-right: 2%;
}
#cclogo { 
	width: 30%;
	margin-right: 2%;
	margin-top:30px;
}
#bceelogo { 
	width: 35%;
	margin-right: 10%;
	margin-top:30px;
}

#lilalogotop { 
	width: 80%;
	margin-right: 2%;
	margin-top:30px;
}

	#jamtodaylogo { 
		width: 10%;
		margin-right: 2%;
	}
	
	#fablablogo { 
		width: 10%;
		margin-right: 2%;
	}

	#kenneylogo { 
		width: 20%;
		margin-right: 2%;
		margin-bottom: 20px;
	}

#postlogodwn {
	width: 20%;
	margin-right:2%;
	margin-bottom: 20px;
}

#bceelogodwn {
	width: 25%;
	margin-right:2%;
	margin-bottom: 20px;
}

#cclogodwn {
	width:20%;
	margin-right:2%;
	margin-bottom: 20px;
}

#lilalogodwn {
	width:20%;
	margin-right:2%;
	margin-bottom: 20px;
}

.llab {
	font-size: 21px;
}

#btnreg {
	/* margin-bottom: 30px; */
}

span#mailmsg span.success {
	color: green;
}
span#mailmsg span.error {
	color: red;
}
span#mailmsg span.correction {
	font-weight: bold;
}

.footbox {
    background-color: #EEEEEE;
    border-radius: 6px 6px 6px 6px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    margin-bottom: 30px;
    padding: 30px;	
}



@media screen and (max-width: 979px) {
	.hero-unit {
		padding: 30px;
	}
}



@media screen and (max-width: 768px) {
	#logo {
		display: none;
	}

	.hero-unit h1 {
		font-size: 45px;
	}

	.hero-unit {
		padding: 30px;
		padding-top: 10px;
	}

	#postlogo { 
		width: 20%;
		margin-right: 2%;
	}
	#cclogo { 
		width: 20%;
		margin-right: 2%;
	}
	#bceelogo { 
		width: 20%;
		margin-right: 10%;
	}

	#lilalogotop { 
		width: 20%;
		margin-right: 2%;
	}

}

@media screen and (max-width: 500px) {
	#postlogo { 
		width: 40%;
		margin-right: 2%;
	}
	#cclogo { 
		width: 40%;
		margin-right: 2%;
	}
	#bceelogo { 
		width: 40%;
		margin-right: 10%;
	}

	#lilalogotop { 
		width: 40%;
		margin-right: 2%;
	}

}
